# Flask Security Settings
FLASK_SECRET_KEY=your_secret_key_here

# Admin Dashboard Login Configuration
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Password123

# Live SMTP Configuration (Set up to enable automated emails)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your-email@gmail.com
SMTP_PASSWORD=your-google-app-password
